/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Admin Header - Full Width */
.admin-header {
    background-color: #333;
    color: white;
    padding: 20px 35px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

/* Main Content */
main {
    margin-left: 15%; /* Make space for sidebar */
    padding: 50px;
    width: 300%
   
}


/* Top Section */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.new-product-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.new-product-button:hover {
    background-color: #0056b3;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #757171;
    color: white;
}

td {
    color: black; /* Ensure text is visible */
}

/* Form Styles */
form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
